@import url('https://fonts.googleapis.com/css2?family=K2D&display=swap');

.App {
    background-color: #07121C;
    width: 66%;
    height: 70%;
    bottom: 15%;
    left: 17%;
}

.account-personal-content {
    padding: 2rem;
    height: 11.5rem;
}

.account-personal-content h4 {
    letter-spacing: 2px;
}


.account-content-main span {
    margin-left: 2rem;
    font-size: 0.7rem;
    position: relative;
    bottom: 0.5rem;
}

.account-content-footer {
    text-align: end;
}

.account-content-footer span {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 2rem;
}

.account-personal {
    /* padding: 0.4rem; */
    color: #fff;
    width: 22rem;
    height: 14rem;
    font-family: 'Nunito';
    font-style: normal;
    background: #15293C;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-bottom: 1rem;
}

.btns-personal-group {
    background-color: #07121C;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.btn-personal {
    border: none;
    background: #FFFFFF;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 32%;
    height: 85%;
    font-size: 1rem;
    cursor: pointer;
}



/*  */